

@media screen and (max-width:400px) {
    .hidden-on-desktop {
        border: 1px solid;
        border-color: #848487;
        background-color: #c9ffff;
        text-align: center;
        padding: 1em;

    }
    div.alert-info>a:link {
        color: #000;
        text-decoration: none;
    }

    h1 {
        text-align: center;
    }

    .nav-links {
        list-style-type: none;
        padding: 0;
    }
    li {
        background: #cccccc;
        text-align: center;
        margin: .75em;
        padding: 1em;
    }

    img{
        width: 21.1875em;
        height: 14em;
    }
}

@media screen and (min-width:401px){
    .hidden-on-desktop {
        display: none;
    }
    h1 {

        float: left;
    }
    
    li{
        float: right;
        list-style-type: none;
        padding: 0 1em;
        margin: 1.3125em 0;
    }


}


