

@media screen and (max-width:400px){
    .row.alert-info{
        width: 100%;
    }

    .row:after{
        content: "";
        display: table;
        clear: both;
    }

    .column.alert-info{
        background-color: #c9ffff;
        box-sizing: border-box;
        border: 1px solid lightgray;
        padding: .5em;
        text-align: center;

    }
    .alert-info>a:link{
        text-decoration: none;
    }
    .column.company{
        margin: .5em 0 1em 0;
        text-align: center;
    }
    .column.nav-links{
        background-color: #cbcbcb;
        text-align: center;
        padding: 0;
        list-style-type: none;
        max-width: 100%;
    }
    .column.li{
        border: .125em solid white;
        padding: .5em 0 .5em 0;

    }

    .column.header-img>img{
        max-width: 100%;
       /* width: 339px;
          height: 224px;
       */
    }






}




@media screen and (min-width:600px){

}

@media screen and (min-width:900px){

}


/*.column

.row */