* {transition: all 1s;}

@media screen and (max-width:450px){
    .row.alert-info{
        width: 100%;
    }

    .row:after{
        content: "";
        display: table;
        clear: both;
    }

    .column.alert-info{
        background-color: #c9ffff;
        box-sizing: border-box;
        border: 1px solid lightgray;
        padding: .5em;
        text-align: center;

    }

    .alert-info>a:link{
        text-decoration: none;
    }

    .column.company{
        margin: .5em 0 1em 0;
        text-align: center;
    }

    .column.nav-links{
        background-color: #cbcbcb;
        text-align: center;
        padding: 0;
        list-style-type: none;
        max-width: 100%;
    }

    .column.li{
        border: .125em solid white;
        padding: .5em 0 .5em 0;

    }

    .column.header-img>img{
        max-width: 100%;
       /* width: 339px;
          height: 224px;
       */
    }

    .column.section{
        font-weight: bolder;
        font-size: 2em;
    }

    .column.loremamet{
        font-size: 1em;
        margin: 0 0 1em 0;
    }

    .column.sub-section>h2{
        font-size: 1.5em;
    }

    .column.sub-section>p{
        font-style: italic;
    }

    footer>p{
        float: left;
        font-size: .5em;
    }

    .column.social_media{
        float: right;
        height: 25px;
        width: 25px;
        margin: 0 .25em 0 0;
    }



}



@media screen and (min-width:450px){
    body {
        width: 910px;
    }

    .row:after{
        content: "";
        display: table;
        clear: both;
    }
    .row.company{
        width: 100%;
    }
    .column.hidden-on-desktop{
        display: none;
    }
    .column.company{
        float: left;
        font-weight: bold;
        margin: 1em 0 1em 0;
    }
    .column.nav-links{
        float: right;
        list-style-type: none;

    }
    .column.li{
        /*background-color: yellow;*/
        display: inline-block;
        margin: 1.5em 1em 0 0;
    }
    .column.header-img{
        width: 100%;
        margin: 0 0 2em 0;
        /*Use background-color to help see how the boxes are lineing up*/
        /*background-color: green; */
    }
    #row.main>h2{
        font-weight: bold;
    }
    .column.main{
        float: left;
        width: 60%;
        margin: 0 .5em 0 0;

    }
    section.sub-section>h2{
        font-size: 1.25em;
        margin: 1.1em 0 1em 0;
    }
    .column.sub-section{
        font-style: italic;
        float: right;
        width: 35%;
        margin: 0 1.5em 0 0;
    }
    footer>p{
        float: left;
        font-size: .75em;
        margin: 40em 32em 0 0;
        padding: 0;
    }
    .column.social_media{
        float: right;
        height: 50px;
        width: 50px;

        margin: 25em .25em 0 0;
    }
}


/*.column

.row */