body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: #ccdffc;
    --text-info: #39338d;
    --bg-success: #ccf2db;
    --text-success: #006d3e;
    --bg-warning: #fcface;
    --text-warning: #907b2d;
    --bg-error: #f8d0d4;
    --text-error: #78001f;
}

.message {
    width: 70%;
    margin: 8px 25px;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.message-info{
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success{
    background-color: var(--bg-success);
    color: var(--text-success)
}

.message-warning{
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error{
    background-color: var(--bg-error);
    color: var(--text-error);
}
