


@media (max-width: 576px){
    .jumbotron.jumbotron-fluid {
        width: 100%;
        display: none;
    }

    .display-4 {
        float: left;
        margin: 2em 0 0 0;
        position: absolute;
        text-align: center;
        background-color: #d8d8d8;
        opacity: 0.6;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        width: 100%;

    }
    .pizza{
        width: 100%;
    }
    .display-4 {
        float: left;
        margin: 2em 0 0 0;
        position: absolute;
        text-align: center;
        background-color: #d8d8d8;
        opacity: 0.6;
        width: 100%;
    }
}
