.jumbotron {
    background-image: url("../images/pizza.png");
    margin: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.display-4 {

    position: relative;
    text-align: center;
    max-width: 100%;
    background-color: #d8d8d8;
    opacity: 0.6;

}

/* .container-fluid{
padding: 0; */
